/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 42px 15px 0;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}



/* LisenUp Mods */

.navbar-brand {
  padding: 9px 20px 0 15px;
  height: 48px;
}

.navbar-brand>img {
  height: 100%;
  padding: 2px;
  margin:-6px;
  width: auto;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0;
}

.page-header {
    /* padding-bottom: 0px; */
    margin: 7px 0 12px 0px;
    border-bottom: 1px solid #eee;
}

.user {
	padding-bottom: 9px;
}


.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: inherit;
}

.h1, h1 {
    font-size: 26px;
    color: #333333;
}

pre {
  white-space: pre-wrap;
  word-break: normal;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}