<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="If you are the kind of person who knows what they want and willing to improve things by telling whomever is responsible - Don't you get it?  Then LisenUp!">
    <meta name="author" content="LisenUp">
	<meta name="robots" content="noodp">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="LisenUp Story">
	<meta name="twitter:title" content="LisenUp Story">
	<meta name="twitter:site" content="@JoinLisenUp">
	<meta name="twitter:image" content="https://lisenup.com/assets/img/LisenUp_About1200.png">
	<meta name="twitter:creator" content="@JoinLisenUp">
	
	<link rel="icon" href="favicon.ico">

    <title>LisenUp Story</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/homepage-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/about">About</a></li>
            <!-- <li role="presentation"><a href="#">Contact</a></li> -->
          </ul>
        </nav>
        <!-- <h3 class="text-muted">LisenUp</h3> -->
        <a class="navbar-brand" href="/"><img src="/assets/img/LisenUp-logo-home-page.png" alt="LisenUp"></a>
      </div>

      <div class="jumbotron">
        <h1>About LisenUp</h1>
        <p class="lead">...</p>
      </div>

<!-- <p class="lead">If you believe in our mission - then <a href="http://eepurl.com/cE8PY5"><strong>join us</strong></a>, and start to LisenUp and make it contagious!</p> -->

      <footer class="footer">
        <p>&copy; 2017 <a href="https://lisenup.com">LisenUp</a></p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
