<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="When you see stuff so broken in the world do you ever feel like screaming at the top of your lungs and telling someone in charge DON'T YOU GET IT!">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>I can't improve the world, but I can start with myself</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/homepage-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/about">About</a></li>
            <!-- <li role="presentation"><a href="#">Contact</a></li> -->
          </ul>
        </nav>
        <!-- <h3 class="text-muted">LisenUp</h3> -->
        <a class="navbar-brand" href="/"><img src="assets/img/LisenUp-logo-home-page.png" alt="LisenUp"></a>
      </div>

      <div class="jumbotron">
        <h1>Improve The World?</h1>
        <p class="lead">I can't improve the world, but I can start with myself.</p>
      </div>


<p class="lead">When you see stuff so broken in the world do you ever feel like screaming at the top of your lungs and telling someone in charge or responsible for this - <mark>DON'T YOU GET IT!</mark>  Because it's so obvious to you, how can they not see it?</p>

<p class="lead">Is this happening to you almost every day, everywhere you go?  And is it so hard to ignore that you can't stop thinking about it?</p>

<p class="lead">That's exactly how I feel!  And what I realized is that, I can't improve the world, but I can start with myself.  If I can improve myself, then maybe others can be inspired to do the same?</p>

<p class="lead">Maybe if enough of us focused on this - we can start a movement large enough to improve the whole world.  And finally reach the people that really need it.</p>

<p class="lead">This is why we created <strong>LisenUp</strong>.  We believe that in order to improve, it's not enough to simply work hard or go to school.  It's also important to listen to the candid feedback others have for us.  Because sometimes we get so deep in the hole - it's hard to see the light.</p>

<p class="lead">If you believe in our mission - then join us, and start to <strong>LisenUp</strong>!</p>


      <footer class="footer">
        <p>&copy; 2017 <a href="https://lisenup.com">LisenUp</a></p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
