<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy (description=${group.ugaDesc},title='Feedback Sent To: ' + ${user.uaName})">
</head>

<body>

    <!-- Begin page content -->
    <div class="container">
    
		<div class="page-header">
		  <h1 th:text="'Thank you!'">Thank you!</h1>
		</div>

		<ol class="breadcrumb">
			<!-- <li><a th:href="@{/{usr}(usr=${user.uaUsername})}" th:text="${user.uaName}">Profile</a></li> -->
			<!-- <li><a th:href="@{/{usr}/{grp}(usr=${user.uaUsername},grp=${group.ugaSlug})}" th:text="${group.ugaName}">Group</a></li> -->
			<li><a th:href="@{/{usr}/{grp}/{q}(usr=${user.uaUsername},grp=${group.ugaSlug},q=${topic.gtaId})}" th:text="${topic.gtaTitle}">Topic</a></li>
			<li th:text="'Thank You!'" class="active">Thank You</li>
		</ol>

		<div th:replace="body :: user (message='Thank you for your feedback!  If you would like to receive a reply, then please click the button below:')"></div>

		<!-- <p th:text="'Thank you! Your Feedback Was Sent To: ' + ${user.uaName}"></p> -->
		<!-- <p th:text="${group.ugaName} + ': ' + ${topic.gtaTitle}"></p> -->
	    
	<!-- 	<div th:text="${topic.gtaText}">Topic</div>
		<div th:text="${feedback.tfaId}">Id</div>
		<div th:text="${feedback.tfaText}">Feedback</div> -->
		
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Need A Reply?</h3>
			</div>
			<div class="panel-body text-center">
				<a th:href="@{/{usr}/{grp}/{fuuid}/getreply(usr=${user.uaUsername},grp=${group.ugaSlug},fuuid=${feedback.tfaUuid})}" th:text="'Yes'" class="btn btn-success btn-lg" role="button">Sub Link</a>
				<a th:href="@{/{usr}/{grp}(usr=${user.uaUsername},grp=${group.ugaSlug})}" th:text="'No'" class="btn btn-primary btn-lg" role="button">Sub Link</a>
			</div>
		</div>
		
		
	
    </div>
    <!-- End page content -->
    
 	<div th:replace="footer :: copy"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    
</body>
</html>
