<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy (description=${topic.gtaTitle},title=${topic.gtaTitle})">
</head>

<body>

    <!-- Begin page content -->
    <div class="container">
		<div class="page-header">
		  <h1 th:text="${topic.gtaTitle}">Topic Title</h1>
		</div>

		<ol class="breadcrumb">
			<!-- <li><a th:href="@{/{usr}(usr=${user.uaUsername})}" th:text="${user.uaName}">Profile</a></li> -->
			<li><a th:href="@{/{usr}/{grp}(usr=${user.uaUsername},grp=${group.ugaSlug})}" th:text="${group.ugaName}">Group</a></li>
			<li th:text="${topic.gtaTitle}" class="active">Topic Feedback</li>
		</ol>

		<div th:replace="body :: user (message=${topic.gtaText})"></div>

		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Your Feedback</h3>
			</div>
			<div class="panel-body">

				<div th:if="${not #lists.isEmpty(givenFeedback)}" id="given-feedback">
					<div th:each="feedback : ${givenFeedback}">
						<h5>
							<span th:text="${#dates.format(feedback.createdAt, 'dd/MMM/yyyy HH:mm')}" class="label label-default">Date</span>
							<span th:text="${feedback.tfaReplyName == null}? 'Anonymous' : ${feedback.tfaReplyName}" th:remove="tag"></span>
							<span th:text="${feedback.tfaReplyName == null}? '' : (${feedback.uaId == 1}? ${feedback.tfaReplyEmail})" class="label label-warning">Pending</span>
							<span th:text="${feedback.tfaReplyName == null}? '' : (${feedback.uaId != 1}? ${feedback.tfaReplyEmail})" class="label label-success">Verified</span>
						</h5>
						<pre th:text="${feedback.tfaText}"></pre>
					</div>
					
					<div id="more-controls" class="panel-body text-center">
						<a th:href="@{/{usr}/{grp}(usr=${user.uaUsername},grp=${group.ugaSlug})}" th:text="'View Topics'" class="btn btn-primary btn-lg" role="button">Other</a>
						<a data-target="#feedback-form" class="btn btn-success btn-lg" data-toggle="collapse">Add More</a>
					</div>
				</div>
				
				<div th:replace="body :: errlist"></div>
	
				<div th:classappend="${not #lists.isEmpty(givenFeedback)}? collapse" id="feedback-form">
				    <form action="#" th:action="@{/feedback}" th:object="${feedback}" method="post">
					    <div class="form-group">
					    	<!-- <p>Topic Id: <input type="text" th:field="*{gtaId}" /></p> -->
					        <textarea th:field="*{tfaText}" th:maxlength="${props.maxFeedbackLength}" id="feedback" class="form-control" rows="5" placeholder="Please Enter Your Feedback Here" required autofocus></textarea>
					        <input type="hidden" th:field="*{gtaId}" />
					        <input id="orig_uaId" name="orig_uaId" type="hidden" th:value="${user.uaId}" />
					        <input id="orig_ugaId" name="orig_ugaId" type="hidden" th:value="${group.ugaId}" />
					        <input id="orig_gtaId" name="orig_gtaId" type="hidden" th:value="${topic.gtaId}" />
					    </div>
					    <div class="text-center"><h4><span id="chars-left" class="label label-default"></span></h4></div>
					    <div class="panel-body text-center">
					    	<a th:href="@{/{usr}/{grp}(usr=${user.uaUsername},grp=${group.ugaSlug})}" th:text="'Cancel'" class="btn btn-primary btn-lg" role="button">Cancel</a>
					    	<button type="submit" class="btn btn-success btn-lg">Send</button>
					    </div>
				    </form>
			    </div>

			</div>
		</div>

    </div>
    <!-- End page content -->
    
 	<div th:replace="footer :: copy"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	
	// limit the text area to feedback.maxLength chars
	$('textarea').keyup(function(e) {
	    var tval = $('textarea').val(),
	        tlength = tval.length,
	        set = document.getElementById("feedback").maxLength,
	        remain = parseInt(set - tlength);
	    $("#chars-left").text('Characters Remain: ' + remain);
	    if (tlength > set) {
	    	$('textarea').val(text.substr(0,set));
	    }
	});

	// hide the more-controls div after it's button is clicked
	$("#feedback-form").on('shown.bs.collapse', function() {
	    $('#more-controls').addClass('collapse');
	});

	
});
</script>

</body>
</html>
