<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy (description='Email Confirmed',title='Email Confirmed')">
</head>

<body>

	<div th:replace="body :: nav-bar"></div>

    <!-- Begin page content -->
    <div class="container">
    
		<ol class="breadcrumb">
			<li><a th:href="@{/{usr}/{grp}/{q}(usr=${user.uaUsername},grp=${group.ugaSlug},q=${topic.gtaId})}" th:text="${topic.gtaTitle}">Topic</a></li>
			<li th:text="'Email Confirmed'" class="active">Email Confirmed</li>
		</ol>

		<div class="page-header">
		  <h1 th:text="'Email Confirmed'">Subscribe</h1>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Your Email Confirmed!</h3>
			</div>
			<div class="panel-body">

				<div th:if="${error}" class="alert alert-warning" role="alert">
					<p>Error</p>
				</div>
				
				<div th:unless="${error}" class="alert alert-success" role="alert">
					<p th:text="'Your Name is shared and your email address on the feedback you left for ' + ${user.uaName} + '\'s \'' + ${topic.gtaTitle} + '\' is confirmed!  Thank you!'" class="lead"></p>
				</div>				

				<div class="panel-body text-center">
					<a th:href="@{/{usr}/{grp}/{q}(usr=${user.uaUsername},grp=${group.ugaSlug},q=${topic.gtaId})}" th:text="'View Your Feedback'" class="btn btn-primary btn-lg" role="button">More Feedback</a>
				</div>
			
			</div>
		</div>
		    
    </div>
    <!-- End page content -->
    
 	<div th:replace="footer :: copy"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    
</body>
</html>
