<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy (description=${group.ugaDesc},title='Get ' + ${user.uaName} + '\'s Reply')">
</head>

<body>

    <!-- Begin page content -->
    <div class="container">
    
		<div class="page-header">
		  <h1 th:text="'Get A Reply'">Get A Reply</h1>
		</div>
	    
		<ol class="breadcrumb">
			<!-- <li><a th:href="@{/{usr}(usr=${user.uaUsername})}" th:text="${user.uaName}">Profile</a></li> -->
			<!-- <li><a th:href="@{/{usr}/{grp}(usr=${user.uaUsername},grp=${group.ugaSlug})}" th:text="${group.ugaName}">Group</a></li> -->
			<li><a th:href="@{/{usr}/{grp}/{q}(usr=${user.uaUsername},grp=${group.ugaSlug},q=${topic.gtaId})}" th:text="${topic.gtaTitle}">Topic</a></li>
			<li th:text="'Get A Reply'" class="active">Get A Reply</li>
		</ol>
		
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Get A Reply</h3>
			</div>
			<div class="panel-body">

				<div th:replace="body :: errlist"></div>
					
			    <form action="#" th:action="@{/getreply}" th:object="${newuser}" method="post">
			    	<div class="form-group">
			    		<label class="control-label" for="uaName">Your Name</label>
			    		<input th:field="*{uaName}" type="text" class="form-control" id="uaName" placeholder="Name" aria-describedby="helpBlock0" required>
			    	</div>
			    	<div class="form-group">
			    		<label class="control-label" for="uaEmail">Email Address</label>
			    		<input th:field="*{uaEmail}" type="email" class="form-control" id="uaEmail" placeholder="Email" aria-describedby="helpBlock1" required>
			    		<span th:text="'You\'ll receive a confirmation email to this address shortly, when you do - please click the confirmation link to verify your email address.'" id="helpBlock1" class="help-block">Help</span>
			    	</div>
					<div class="checkbox">
					  <label>
					    <input th:checked="${terms}" type="checkbox" id="terms" name="terms" required><span th:text="'I agree to reveal my name/email to ' + ${user.uaName}"></span>
					  </label>
					</div>
			    	<!-- <p>Email Address: <input type="text" th:field="*{uaEmail}" /> -->
			        <input id="orig_uaId" name="orig_uaId" type="hidden" th:value="${user.uaId}" />
			        <input id="orig_ugaId" name="orig_ugaId" type="hidden" th:value="${group.ugaId}" />
			        <input id="orig_tfaUuid" name="orig_tfaUuid" type="hidden" th:value="${feedback.tfaUuid}" />

				    <div class="panel-body text-center">
					    <!-- <div class="btn-group" role="group" aria-label="submit-group"> -->
					    	<button type="submit" class="btn btn-success btn-lg">Submit</button>
					    	<a th:href="@{/{usr}/{grp}(usr=${user.uaUsername},grp=${group.ugaSlug})}" th:text="'Cancel'" class="btn btn-primary btn-lg" role="button">Cancel</a>
					    <!-- </div> -->
				    </div>

			    </form>
	    
	    	</div>
	    </div>
	    
	    

    </div>
    <!-- End page content -->
    
 	<div th:replace="footer :: copy"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    
</body>
</html>
