<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy (description='Email Updated',title='Email Updated')">
</head>

<body>

	<div th:replace="body :: nav-bar"></div>

    <!-- Begin page content -->
    <div class="container">
    
		<ol class="breadcrumb">
			<li>Account</li>
			<li th:text="'Email Updated'" class="active">Email Updated</li>
		</ol>

		<div class="page-header">
		  <h1 th:text="'Email Updated'">Email Updated</h1>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Email Updated</h3>
			</div>
			<div class="panel-body">				
				<div th:unless="${error}" class="alert alert-warning" role="alert">
					<p th:text="'Please check your mailbox (' + ${newUser.uaEmail} + ') for our confirmation email and make sure to click the link to verify your email address.  Then return here and click the button below to proceed:'" class="lead"></p>
				</div>				
				<div class="panel-body text-center">
					<a th:href="${next}" th:text="'Proceed'" class="btn btn-primary btn-lg" role="button">Proceed</a>
				</div>

			</div>
		</div>
		    
    </div>
    <!-- End page content -->
    
 	<div th:replace="footer :: copy"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    
</body>
</html>
