<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head th:fragment="copy">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta th:content="${description}" name="description" content="">
    <meta name="author" content="LisenUp">
    
	<meta name="robots" content="noodp">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:description" th:content="${description}" content="">
	<meta name="twitter:title" th:content="${title}" content="">
	<meta name="twitter:site" content="@JoinLisenUp">
	<meta name="twitter:image" content="https://lisenup.com/assets/img/LisenUp_Feedback_1200.png">
	<meta name="twitter:creator" content="@JoinLisenUp">

	<meta th:if="${user}" property="og:url" th:content="@{(${group}? 'https://lisenup.com/{usr}/{grp}' : 'https://lisenup.com/{usr}')(__${group}? 'usr=${user.uaUsername},grp=${group.ugaSlug}' : 'usr=${user.uaUsername}'__)}" content="" />
	<meta property="og:type" content="article" />
	<meta property="og:title" th:content="${title}" content="" />
	<meta property="og:description" th:content="${description}" content="" />
	<meta property="og:image" content="https://lisenup.com/assets/img/LisenUp_Feedback_1200.png" />
	    
    <link rel="icon" href="/favicon.ico">

    <title th:text="${title}">Page Title</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/sticky-footer3.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  </body>
  
</html>
  