<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="LisenUp is your private feedback channel that lets you receive anonymous advice from anyone that has a link to your LisenUp page.">
    <meta name="author" content="LisenUp">
	<meta name="robots" content="noodp">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:description" content="LisenUp is your private feedback channel that lets you receive anonymous advice from anyone that has a link to your LisenUp page.">
	<meta name="twitter:title" content="LisenUp - Your Private Feedback Channel">
	<meta name="twitter:site" content="@JoinLisenUp">
	<meta name="twitter:image" content="https://lisenup.com/assets/img/LisenUp_About_1200.png">
	<meta name="twitter:creator" content="@JoinLisenUp">

	<meta property="og:url" content="https://lisenup.com/" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="LisenUp - Your Private Feedback Channel" />
	<meta property="og:description" content="LisenUp is your private feedback channel that lets you receive anonymous advice from anyone that has a link to your LisenUp page." />
	<meta property="og:image" content="https://lisenup.com/assets/img/LisenUp_Idea_1200.png" />
	
	<link rel="icon" href="favicon.ico">

    <title>LisenUp - Your Private Feedback Channel</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/homepage-narrow2.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="http://eepurl.com/cE8PY5">Sign Up</a></li>
            <!-- <li role="presentation"><a href="/about">About</a></li> -->
            <!-- <li role="presentation"><a href="#">Contact</a></li> -->
          </ul>
        </nav>
        <!-- <h3 class="text-muted">LisenUp</h3> -->
        <a class="navbar-brand" href="/"><img src="/assets/img/logo_color.png" alt="LisenUp"></a>
      </div>


<!-- <img src="https://lisenup.com/assets/img/LisenUp_About_1200.png" class="img-responsive" alt="LisenUp To Unfiltered Feedback"> -->

      <div class="jumbotron">
        <h1>LisenUp!</h1>
        <p class="lead">It's Your Private Feedback Channel</p>
      </div>


<p class="lead"><strong>LisenUp</strong> is a private feedback channel that lets you receive anonymous advice from anyone that has a link to your LisenUp page.</p>

<p class="lead">LisenUp mission is based on two Biblical principles. <a href="http://www.letgodbetrue.com/proverbs/commentaries/15_22.php">First</a>, to succeed - get advise from many people. <a href="http://www.letgodbetrue.com/proverbs/commentaries/15_23.php">Second</a>, people actually enjoy giving you their feedback.</p>

<p class="lead">Want to see how this works?  Our Co-Founder has a LisenUp page - go there and leave your feedback on what you think about LisenUp Website:</p>

		<div class="jumbotron">
			<a href="/mve" class="btn btn-primary btn-lg" role="button">What Do Think?</a>
		</div>

<p class="lead">We are still in private beta.  But you can join our mailing list to be the first to know when we launch:</p>  

      <div class="jumbotron">
        <a class="btn btn-lg btn-success" href="http://eepurl.com/cE8PY5" role="button">Join Us!</a>
      </div>

      <footer class="footer">
        <p>&copy; 2017 <a href="https://lisenup.com">LisenUp</a></p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
