<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" th:content="${props.luDesc}" content="">
    <meta name="author" content="LisenUp">
	<meta name="robots" content="noodp">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:description" th:content="${props.luDesc}">
	<meta name="twitter:title" th:content="${props.luTitle}" content="">
	<meta name="twitter:site" content="@JoinLisenUp">
	<meta name="twitter:image" th:content="${props.luImage}" content="">
	<meta name="twitter:creator" content="@JoinLisenUp">

	<meta property="og:url" content="https://lisenup.com/" />
	<meta property="og:type" content="article" />
	<meta property="og:title" th:content="${props.luTitle}" content="" />
	<meta property="og:description" th:content="${props.luDesc}" content="" />
	<meta property="og:image" th:content="${props.luImage}" content="" />
	
	<link rel="icon" href="favicon.ico">

    <title th:text="${props.luTitle}">LisenUp Title</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/homepage-narrow2.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="http://eepurl.com/cE8PY5">Sign Up</a></li>
            <!-- <li role="presentation"><a href="/about">About</a></li> -->
            <!-- <li role="presentation"><a href="#">Contact</a></li> -->
          </ul>
        </nav>
        <!-- <h3 class="text-muted">LisenUp</h3> -->
        <a class="navbar-brand" href="/"><img src="/assets/img/logo_color.png" alt="LisenUp"></a>
      </div>


<!-- <img src="https://lisenup.com/assets/img/LisenUp_About_1200.png" class="img-responsive" alt="LisenUp To Unfiltered Feedback"> -->

      <div class="jumbotron">
        <h1>LisenUp!</h1>
        <p class="lead">And Stop Negative Reviews Go Viral</p>
      </div>


<p class="lead">Get yourself a <strong>LisenUp</strong> page and start to listen to your customers, because bad word gets out when they have no easy way to voice their frustration.</p>

<p class="lead">Want to see how this works?  Our Co-Founder has a <strong>LisenUp</strong> page - go there and leave your feedback on what you think about LisenUp:</p>

		<div class="jumbotron">
			<a href="/mve/LisenUp" class="btn btn-primary btn-lg" role="button">Try It!</a>
		</div>

<p class="lead">Don't you think that was easy?  No long forms to fill out, no sign up page -- you simply voiced your opinion and if you needed a reply, gave your email address.  And the feedback you left is completely private - no one else can see it, only you and us.</p>  

<p class="lead">Imagine how many negative reviews you can prevent by giving your customers a super easy way to voice their opinion?  Having a LisenUp page tells your customers - "<mark>I value your opinion and would love to get your candid feedback</mark>" - anytime!</p>

<p class="lead">Put a link to your LisenUp page on your Yelp, Twitter and Facebook profiles and ask your customers to give you one more chance to get it right through LisenUp before giving you a negative review elsewhere.</p>

<p class="lead">Want to have a LisenUp page for your business?  Then join our mailing list to be the first to know when we launch:</p>  

      <div class="jumbotron">
        <a class="btn btn-lg btn-success" href="http://eepurl.com/cE8PY5" role="button">Join Us!</a>
      </div>

      <footer class="footer">
        <p>&copy; 2017 <a href="https://lisenup.com">LisenUp</a></p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
