<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="If you are the kind of person who knows what they want and willing to improve things by telling whomever is responsible - Don't you get it? Then LisenUp!">
    <meta name="author" content="LisenUp">
	<meta name="robots" content="noodp">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="If you are the kind of person who knows what they want and willing to improve things by telling whomever is responsible - Don't you get it? Then LisenUp!">
	<meta name="twitter:title" content="LisenUp - It's Contagious!">
	<meta name="twitter:site" content="@JoinLisenUp">
	<meta name="twitter:image" content="https://lisenup.com/assets/img/LisenUp_About1200.png">
	<meta name="twitter:creator" content="@JoinLisenUp">
	
	<link rel="icon" href="favicon.ico">

    <title>LisenUp - It's Contagious!</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/homepage-narrow2.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="http://eepurl.com/cE8PY5">Sign Up</a></li>
            <!-- <li role="presentation"><a href="/about">About</a></li> -->
            <!-- <li role="presentation"><a href="#">Contact</a></li> -->
          </ul>
        </nav>
        <!-- <h3 class="text-muted">LisenUp</h3> -->
        <a class="navbar-brand" href="/"><img src="/assets/img/logo_color.png" alt="LisenUp"></a>
      </div>

      <div class="jumbotron">
        <h1>LisenUp</h1>
        <!-- <h2>It's Contagious!</h2> -->
        <p class="lead">It's Contagious!</p>
        <!-- <a class="btn btn-lg btn-success" href="https://eepurl.com/cE8PY5" role="button">Join Us!</a> -->
      </div>

<p class="lead">If you are the kind of person who knows what they want and willing to improve things by telling whomever is responsible - "<mark>Don't you get it?</mark>" Then you've come to the right place!</p>

<p class="lead">Imagine the day when you can instantly reach those people and companies that are doing these irritating things and influence them with your feedback? That would make a world of difference!</p>

<p class="lead">The problem is that these people don't even know they are doing something wrong, so they are not looking for your feedback. To make them notice we need a <mark>movement so contagious</mark> that they will have no other choice but to join in. So we started <strong>LisenUp</strong> to become that movement.</p>

<p class="lead">We believe that if enough of us show by example, that candid feedback matters, then it will create a "<mark>tipping point</mark>" and spread like wildfire. And engulf everyone including those who today think they don't need any feedback.</p>

<p class="lead">Want to see what it's like to leave feedback using <strong>LisenUp</strong>?  Then visit our Co-Founder's LisenUp page and leave your feedback on our mission statement you read here:</p>

		<div class="jumbotron">
			<a href="/mve/LisenUp/4" class="btn btn-success btn-lg" role="button">Give Us Your Feedback</a>
		</div>

<p class="lead">We are actively working on building the receiving end of the LisenUp feedback engine.  If our cause resonates with you and you want to help, then please tell one of your friends about LisenUp and join our mailing list (click the button below):</p>  

      <div class="jumbotron">
        <a class="btn btn-lg btn-success" href="http://eepurl.com/cE8PY5" role="button">Join Us!</a>
      </div>

      <footer class="footer">
        <p>&copy; 2017 <a href="https://lisenup.com">LisenUp</a></p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
