<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy (description=${group.ugaDesc},title='Subscribed To: ' + ${user.uaFirstname} + '/' + ${group.ugaName})">
</head>

<body>

    <!-- Begin page content -->
    <div class="container">
    
		<div class="page-header">
		  <h1 th:text="${user.uaFirstname} + '\'s ' + ${group.ugaName} + ' Group'">Subscribe</h1>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">You Subscribed (anonymously)</h3>
			</div>
			<div class="panel-body">

				<div th:if="${error}" class="alert alert-warning" role="alert">
					<p>Your email address was already subscribed to this group</p>
				</div>
				
				<div th:unless="${error}" class="alert alert-success" role="alert">
					<ul>
						<li th:text="'You successfully subscribed to: ' + ${user.uaFirstname} + '\'s ' + ${group.ugaName} + ' group'"></li>
						<li th:text="'Please check your mailbox (' + ${newuser.uaEmail} + ') for our confirmation email and make sure to confirm your email address.'"></li>
						<li>For your protection we will not email any updates until your email address is confirmed.</li>
					</ul>
				</div>				
			
			</div>
		</div>
		    
    </div>
    <!-- End page content -->
    
 	<div th:replace="footer :: copy"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    
</body>
</html>
