<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Subscribe To: ' + ${user.uaFirstname} + '/' + ${group.ugaName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="'Subscribe To: ' + ${user.uaFirstname} + '/' + ${group.ugaName}"></p>
    
	<ul>
		<li th:each="error : ${errors}" th:text="${error}">Error</li>
	</ul>
	
    <form action="#" th:action="@{/sub}" th:object="${newuser}" method="post">
    	<p>First Name: <input type="text" th:field="*{uaFirstname}" /></p>
    	<p>Last Name: <input type="text" th:field="*{uaLastname}" /></p>
    	<p>Email Address: <input type="text" th:field="*{uaEmail}" /></p>
        <input id="orig_uaId" name="orig_uaId" type="hidden" th:value="${user.uaId}" />
        <input id="orig_ugaId" name="orig_ugaId" type="hidden" th:value="${group.ugaId}" />
        <p><input type="submit" value="Subscribe" /> <input type="reset" value="Reset" /></p>
    </form>

</body>
</html>
