<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy (description=${group.ugaDesc},title=${topic.gtaTitle})">
</head>

<body>

    <!-- Begin page content -->
    <div class="container">
		<div class="page-header">
		  <h1 th:text="${topic.gtaTitle}">Topic Title</h1>
		</div>

		<ol class="breadcrumb">
			<!-- <li><a th:href="@{/{usr}(usr=${user.uaUsername})}" th:text="${user.uaName}">Profile</a></li> -->
			<li><a th:href="@{/{usr}/{grp}(usr=${user.uaUsername},grp=${group.ugaSlug})}" th:text="${group.ugaName}">Group</a></li>
			<li th:text="${topic.gtaTitle}" class="active">Topic Feedback</li>
		</ol>

		<div th:replace="body :: user (message=${topic.gtaText})"></div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Your Feedback</h3>
			</div>
			<div class="panel-body">

			    <div th:if="${errors}" class="alert alert-warning" role="alert">
					<ul>
						<li th:each="error : ${errors}" th:text="${error}">Error</li>
					</ul>
				</div>

			    <form action="#" th:action="@{/feedback}" th:object="${feedback}" method="post">
				    <div class="form-group">
				    	<!-- <p>Topic Id: <input type="text" th:field="*{gtaId}" /></p> -->
				        <textarea th:field="*{tfaText}" class="form-control" rows="5" placeholder="Please Enter Your Feedback Here" required></textarea>
				        <input type="hidden" th:field="*{gtaId}" />
				        <input id="orig_uaId" name="orig_uaId" type="hidden" th:value="${user.uaId}" />
				        <input id="orig_ugaId" name="orig_ugaId" type="hidden" th:value="${group.ugaId}" />
				        <input id="orig_gtaId" name="orig_gtaId" type="hidden" th:value="${topic.gtaId}" />
				    </div>
				    <div class="btn-group" role="group" aria-label="submit-group">
				    	<button type="button" class="btn btn-default" id="chars-left">1024</button>
				    	<button type="submit" class="btn btn-primary">Send Feedback</button>
				    </div>
			    </form>

			</div>
		</div>

    </div>
    <!-- End page content -->
    
 	<div th:replace="footer :: copy"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>

<script type="text/javascript">
$('textarea').keydown(function(e) {
    var tval = $('textarea').val(),
        tlength = tval.length,
        set = 1024,
        remain = parseInt(set - tlength);
    $("#chars-left").text(remain);
    if (remain <= 0 && e.which !== 0 && e.charCode !== 0) {
        $('textarea').val((tval).substring(0, tlength - 1))
    }
})
</script>

</body>
</html>
