<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy (description='Feedback For: ' + ${group.ugaName},title='Feedback For: ' + ${group.ugaName})">
</head>

<body>

    <!-- Begin page content -->
    <div class="container">
    
		<div class="page-header">
		  <h1 th:text="${group.ugaName}">Feedback For</h1>
		</div>

		<ol class="breadcrumb">
			<li><a th:href="@{/{usr}(usr=${user.uaUsername})}" th:text="${user.uaName}">Profile</a></li>
			<li th:text="${group.ugaName}" class="active">Group</li>
		</ol>

		<div th:replace="body :: user (message=${group.ugaDesc})"></div>

		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 th:text="'Feedback Topics'" class="panel-title">Feedback Topics</h3>
			</div>
			<!-- <div class="panel-body"></div> -->
		
			<div class="list-group">
				<a th:each="topic : ${topics}" th:href="@{/{usr}/{grp}/{q}(usr=${user.uaUsername},grp=${group.ugaSlug},q=${topic.gtaId})}" th:classappend="${#lists.contains(givenFeedbackIds,topic.gtaId)} ? list-group-item-warning : list-group-item-success" class="list-group-item">
					<h4 class="list-group-item-heading">
						<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
						<span th:text="${topic.gtaTitle}" th:remove="tag">Topic</span>
					</h4>
				</a>
			</div>
		</div>

		<div class="panel-body text-center">
			<a th:href="@{/{usr}(usr=${user.uaUsername})}" th:text="'Back To Profile'" class="btn btn-primary btn-lg" role="button">More Feedback</a>
		</div>
		
		<!-- <p th:text="${anonUser.sessId}">User</p> -->


    </div>
    <!-- End page content -->
    
 	<div th:replace="footer :: copy"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    
</body>
</html>
